.cart {
    width: 100%;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 0.25fr 1fr 0.25fr;
    padding: 20px;

    .cart__headline {}

    .cart__button {
        text-align: end;
    }
}
.cart__link {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

.cart__products {
    grid-column: 1 / span 3;
    grid-template-rows: 0.25fr 1fr 0.25fr 0.25fr;
    column-gap: 20px;
    padding: 10px;
}

.cart__titles {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    border: 1px solid #000;

    .cart__title {}
}

.cart__clear,
.cart__total {
    padding: 20px;
    border: 1px solid #000;
    float: right;
}
.cart__clear {
    
}
.cart__total {}