.productDetail__box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .productDetail__image {
        width: 300px;

    }
}

.productDetail__button {
    width: 100px;
    text-align: center;
    padding: .5em;
    border: 1px solid #000;
    border-radius: 15px;
    margin-right: 15px;
}

.productDetail__price {
    font-weight: 700;
}

.productDetail__features,
.productDetail__dimensions {
    width: 100%;
}

.productDetail__up,
.productDetail__down {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.productDetail__description {
    padding: 0 0 1.5em 0;
}