header {}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    margin-top: 20px;
    border-top: 1px solid #141414;

    .navbar__link {
        color: inherit;
        text-decoration: none;
    }
}

.navbar__image,
.navbar__cartIcon {
    width: 30px;
    height: 30px;
}

.navbar__input {
    font-family: 'Archivo', sans-serif;
    text-transform: lowercase;
    padding: 0.5em;
}