@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 95%;
  height: 100%;
  margin: auto;
}
input, 
button {
  all: unset;
}
ul {
  list-style: none;
}
